---
layout: page
title: Servicios de Hardware
description: Tu computadora está fallando y no sabes qué le puede estar sucediendo? ¡Déjalo en manos expertas! En Cls Computers service, somos capaces de detectar y solucionar cualquier problema, de hardware o software, en tu computadora
---
<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h1>Cls Computers</h1>
			       <p>¿Tu computadora está fallando y no sabes qué le puede estar sucediendo? ¡Déjalo en manos expertas! En Cls Computers service, somos capaces de detectar y solucionar cualquier problema, de hardware o software, en tu computadora.


                   </p>
			</div>
			<div class="ckeckout-top">
			<div class="cart-items">
			 {% include chartitemjs.html %}
				
			<div class="in-check" >
				<ul class="unit">
					<li><span>Hardware</span></li>
					<li><span>Tipo</span></li>		
					<li><span>Detalles</span></li>
					<li><span>Precio</span></li>
					<li> </li>
					<div class="clearfix"> </div>
				</ul>
				{% for class in site.data.hardaware.arriba %}
				<ul class="{{ class.cheader }}">
					{% for cr in site.data.cerrado.close %}
					<div class="{{ cr.cerrar }}"> 
					</div>
					{% endfor %}
                        <li class="ring-in">
                        	
							<a href="single.html" >		
								<img src="" class="img-responsive" alt="">
							</a>
						    
						</li>
						
						<li>
							<span class="name">Reparacion De Pc y Laptops</span>
						</li>
						<li>
							<span>Descripcion</span>
						<p>Nuestro equipo especializado de técnicos está dispuesto a atender cualquier emergencia en el menor tiempo posible. ¡Sabemos cuán importante es tu computadora para ti
						</p>
					    </li>
						<li>
							<span class="cost">Bs </span>
						</li>
					<div class="clearfix"> </div>
				</ul>
				{% endfor %}
			 </div>
			</div>  
		 </div>
		</div>
	</div>
<!--end-ckeckout-->
	