---
layout: default
title: inicio
description: index description
---
<div class="bnr" id="home">
	<div id="top" class="callbacks_container">
		<ul class="rslides" id="slider4">
			{% for member in site.slide %}
			<li>
				<img src="{{ member.img }}" alt="member.name"/>
			</li>
			{% endfor %}
		</ul>
				
	</div>
<div class="clearfix"> </div>
		
</div>
<!--Slider-Starts-Here-->
			<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
	<!--about-starts-->
<div class="about"> 
		<div class="container">
			<div class="about-top grid-1">
				{% for prd in site.data.about %}
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="{{ site.baseurl }}/images/{{ prd.img }}" alt=""/>
						<figcaption>
							<h2>{{ prd.producto }}</h2>
							<p>{{ prd.descripcion}}</p>	
						</figcaption>			
					</figure>
				</div>
				{% endfor %}
				<div class="clearfix"></div>
			</div>
		</div>
</div>
	<!--Aqui comienzan los productos-->
<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					  {% for pr1 in site.data.products.arriba %}
                     <div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
                         <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="{{ site.baseurl }}/images/{{ pr1.img }}" alt="" />
						 </a>
							<div class="product-bottom">
								<h3>{{ pr1.productname }}</h3>
								<p>{{ pr1.namedes }}</p>
								<h4><a class="item_add" href="#"><i></i></a> 
								<span class=" item_price">{{ pr1.price }}</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					{% endfor %}
					 <div class="clearfix"></div>
				</div>
			</div>
			<div class="product-one">
					  {% for pr2 in site.data.products.abajo %}
                         <div class="col-md-3 product-left">
						     <div class="product-main simpleCart_shelfItem">
                               <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="{{ site.baseurl }}/images/{{ pr2.img }}" alt="" />
						      </a>
							<div class="product-bottom">
								<h3>{{ pr2.productname }}</h3>
								<p>{{ pr2.namedes }}</p>
								<h4><a class="item_add" href="#"><i></i></a> 
								<span class=" item_price">{{ pr2.price }}</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						     </div>
					     </div>
					{% endfor %}
					 <div class="clearfix"></div>
                   </div>
        </div>
 </div>



	