<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.3/dist/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ L5J3IKHT56 }}',
  indexName: '{{ getstarted_actors }}',
  apiKey: '{{ 050d04fdcad718ac513bdbb856415a42 }}'
});

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '.search-bar',
    placeholder: 'Search'
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '.results'
  })
);

// Starting the search
search.start();
</script>


