<!DOCTYPE html>
<html lang="es">
<head>
 <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a9d882169eea20013a1980b&product=sticky-share-buttons"></script>
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ default: site.title | escape }}{% endif %}</title>
<link href="{{'/css/bootstrap.css'| relative_url}}" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="{{'/js/jquery-1.11.0.min.js' | relative_url}}"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="{{'/css/style.css' | relative_url}}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keyword" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!--start-menu-->
<script src="{{ '/js/simpleCart.min.js' | relative_url }}"> 
</script>
<link href="{{ '/css/memenu.css'| relative_url }}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{{ '/js/memenu.js' | relative_url }} ">
</script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src=" {{ '/js/jquery.easydropdown.js' | relative_url }}"></script>
<script src="{{ '/js/map.js' | relative_url}}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUZl_g-CydB7I7ULFb_ruadWfKbHm1J4g&callback=initMap">
    </script>
 {% include menujs.html %}
 <link rel="shortcut icon" href="{{ "/icono.ico"  | prepend: site.baseurl }}">

<!--Algolia search libraries css and jaascript-->
<!-- Including InstantSearch.js library and styling --> 
{% seo %}


<!-- FlexSlider -->
						<script src="{{ '/js/imagezoom.js' | relative_url}}"></script>
						<script defer src="{{ '/js/jquery.flexslider.js' | relative_url }}"></script>
						<link rel="stylesheet" href="{{'/css/flexslider.css' | relative_url}}" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>

						
{% if site.snipcart_key %}
			<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="{{ site.snipcart_key }}"></script>
			<script src=" {{ '/locales/es.js' | relative_url }}"></script>
{% endif %}
</head>