<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<form action="https://tinyletter.com/clscomputers" method="post" 
					      target="popupwindow" 
                          onsubmit="window.open('https://tinyletter.com/clscomputers', 'popupwindow', 'scrollbars=yes,width=800,height=600');
                     return true">
						<input type="text" name="email" id="tlemail" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
						
						<input type="submit" value="Subscrite">
					</form>
				</div>
				<div class="col-md-6 footer-right">					
					<p>{{ site.time }}
						©CLS Computers. Derechos Reservados | Design by  <a href="133#2222" target="_blank"></a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>