<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue">
						<li class="active"><a href="index.html">Inicio</a>
						</li>
						<li class="grid"><a href="#">Productos</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Computadoras</h4>
										<ul>
											<li><a href="#">PC de Escritorio</a></li>
											<li><a href="cls-compuetrs-gamers.html">Gaming Computers</a></li>
											<li><a href="#">Laptops</a></li>
											
										
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Software</h4>
										<ul>
											<li><a href="software.html">Sistemas Operativos</a></li>
											<li><a href="software.html">Remocion Antivirus</a></li>
											<li><a href="software.html">Redes</a></li>
											<li><a href="software.html">Diseño de Paginas web</a></li>
											<li><a href="software.html">Instalacion Programas</a></li>
											
										</ul>	
									</div>
									<div class="col1 me-one">
										<h4>Hardware</h4>
										<ul>
											<li><a href="checkout.html">Reparacion de PC<br>y laptops</a></li>
											<li><a href="checkout.html">Recuperacion de datos</a></li>
											<li><a href="ckeckout.html"> Reparacion de Pantallas</a></li>
											<li><a href="ckeckout.html">Limpieza de hardware,<br> Laptops y PC</a></li>
											
											
										</ul>		
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="#">Accesorios</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Periferico</h4>
										<ul>
											<li><a href="#">Parlantes y Audifonos</a></li>
											<li><a href="teclado-laptop.html">Teclas </a></li>
											<li><a href="cls-computer-router.html">Router</a></li>

										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Accesorios</h4>
										<ul>
											<li><a href="cls-computers-cargador-laptop.html">Cargador de laptop</a></li>
											<li><a href="cls-computer-fuentes.html">Fuentes</a></li>
											<li><a href="cls-computer-grabador.html">Grabador</a></li>
											<li><a href="cls-computer-estabilizadores.html">Estabilizador</a></li>
									</div>
									<div class="col1 me-one">
										<h4>Impresoras</h4>
										<ul>
											<li><a href="cls-computer-proyector.html">Proyectores</a></li>
											<li><a href="cls-computers-impresoras.html">Impresora multifuncional</a></li>
											
									
										</ul>	
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="#">Componentes</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Componentes</h4>
										<ul>
											<li><a href="cls-computers-cpu.html">Procesadores</a></li>
											<li><a href="cls-computer-cooler.html">Cooler</a></li>
											<li><a href="cls-computer-memoria-ram.html">Memorias RAM</a></li>
											<li><a href="cls-computer-placa-madres.html">Targetas Madres</a></li>
											<li><a href="cls-computers-targeta-video.html">Targeta de Video</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Almacenamiento</h4>
										<ul>
											<li><a href="cls-computers-hdd.html">Discos Duro</a></li>
											<li><a href="cls-computer-unteras.html">Untera</a></li>
											
									</div>
									<div class="col1 me-one">
										<h4>Monitores</h4>
										<ul>
											<li><a href="cls-computers-monitor-curvo.html">Curvo</a></li>
											<li><a href="cls-computer-monitores.html">Monitores</a></li>
											
										</ul>	
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="#">Pymes</a>
						</li>
						<li class="grid"><a href="contact.html">Contacto</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			{% include search.html %}
			<div class="clearfix"> </div>
			</div>
		</div>
</div>
