<div class="header-bottom">
		<div class="container">
			<div class="header">
				<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue">
						<li class="active"><a href="index.html">Inicio</a>
						</li>
						<li class="grid"><a href="#">Productos</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Computadoras</h4>
										<ul>
											<li><a href="show.html">PC de Escritorio</a></li>
											<li><a href="show1.html">Gaming Computers</a></li>
											<li><a href="show2.html">Laptops</a></li>
											<li><a href="single.html">Tabletas</a></li>
											<li><a href="products.html">PC Semi Uso</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Software</h4>
										<ul>
											<li><a href="software.html">Sistemas Operativos</a></li>
											<li><a href="products.html">Remocion Antivirus</a></li>
											<li><a href="products.html">Redes</a></li>
											<li><a href="products.html">Diseño de Paginas web</a></li>
											<li><a href="products.html">Instalacion Programas</a></li>
											
										</ul>	
									</div>
									<div class="col1 me-one">
										<h4>Hardware</h4>
										<ul>
											<li><a href="checkout.html">Reparacion de PC<br>y laptops</a></li>
											<li><a href="checkout.html">Recuperacion de datos</a></li>
											<li><a href="ckeckout.html"> Reparacion de Pantallas</a></li>
											<li><a href="ckeckout.html">Limpieza de hardware,<br> Laptops y PC</a></li>
											
											
										</ul>		
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="#">Accesorios</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Periferico</h4>
										<ul>
											<li><a href="products.html">Parlantes</a></li>
											<li><a href="teclado-laptop.html">Teclas Laptop</a></li>
											<li><a href="products.html">Usb</a></li>
											<li><a href="products.html">Webcams</a></li>
											<li><a href="products.html">Audifonos</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Accesorios</h4>
										<ul>
											<li><a href="cls-computers-cargador-laptop.html">Cargador de laptop</a></li>
											<li><a href="products.html">DVD, CDS</a></li>
											<li><a href="products.html">Cables de Computadora</a></li>
											<li><a href="products.html">Pilas</a></li>
											<li><a href="products.html">Cargadores Portables</a></li>
									</div>
									<div class="col1 me-one">
										<h4>Impresoras</h4>
										<ul>
											<li><a href="products.html">Impresoras a tinta</a></li>
											<li><a href="products.html">Impresora multifuncional</a></li>
											<li><a href="products.html">Impresoras 3d</a></li>
											<li><a href="products.html">Toner</a></li>
											<li><a href="products.html">Cartuchos y tinta</a></li>
											
									
										</ul>	
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="#">Componentes</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Componentes</h4>
										<ul>
											<li><a href="products.html">Procesadores</a></li>
											<li><a href="cls-computer-cooler.html">Cooler</a></li>
											<li><a href="cls-computer-memoria-ram.html">Memorias RAM</a></li>
											<li><a href="cls-computer-placa-madres.html">Targetas Madres</a></li>
											<li><a href="cls-computers-targeta-video.html">Targeta de Video</a></li>
										</ul>
									</div>
									<div class="col1 me-one">
										<h4>Almacenamiento</h4>
										<ul>
											<li><a href="products.html">Discos Duro</a></li>
											<li><a href="products.html">Untera</a></li>
											<li><a href="products.html">Flash Memory</a></li>
											
									</div>
									<div class="col1 me-one">
										<h4>Monitores</h4>
										<ul>
											<li><a href="products.html">Led</a></li>
											<li><a href="products.html">Gaming</a></li>
											<li><a href="products.html">Touch Screen</a></li>
											<li><a href="products.html">Digital</a></li>
											
										</ul>	
									</div>
								</div>
							</div>
						</li>
						<li class="grid"><a href="typo.html">Pymes</a>
						</li>
						<li class="grid"><a href="contact.html">Contacto</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			{% include search.html %}
			<div class="clearfix"> </div>
			</div>
		</div>
</div>
