{% include doctype-head.html %}
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='7b2aded126d2b1c2739383c257adf017efa44606897d5fdb02078f13ad214d9b';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
<body>


	<!--top-header-->
	{% include top-header.html %}
	<!--start-logo-->
	<!--start-logo-->
	<!--top-header-->
	
	<!--bottom-header-->
	{% include header-bottom-menu.html %}

	<!--bottom-header-->
	<!--banner-starts-->
	{{ content }}
	<!--product-end-->
	<!--information-starts-->
	{% include information.html %}
	<!--information-end-->
	<!--footer-starts-->
	{% include footer.html %}
	
	<!--footer-end-->	
</body>
</html>